* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}



body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background:url('../img/index.jpg') no-repeat center;
  background-size: cover;
  
  
}

.container{
  width: 95%;
  margin: auto;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}



header{
  display: flex;
  padding-top: 30px;
  height: 70px;
  
}
#icon{
  width: 15px;
  z-index: 1;
}
.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  background-color: #34287cda;
  width: 300px;
  height: 800px;
  
  
}
.menu{
position: absolute;
top: 20%;
left: 40%;

}
.menu-link {
  font-family: "Baloo Da 2", serif;
  font-size: 30px;
  color: wheat;
  position: relative;
}
.menu-item {
  text-align: center;
  
}
.bar{
  background-color:white;
  width: 50%;
  margin: auto;
  height: 600px;
}
.login{
 max-width: 350px;
width: 100%;
height: 550px;
background: #c2afaf9d;
padding: 60px 45px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
border-radius: 20px;


}
.login__button {
  display: block;
  padding: 1rem;
  margin: 2rem 0;
  background-color: #333392;
  color: white;
  font-weight: 600;
  text-align: center;
  border-radius: .5rem;
  transition: .3s;
}
.login__input {
  border: none;
  outline: none;
  font-weight: 700;
  color:black;
}
.login__box {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: .5rem;
  padding: 1.125rem 1rem;
  background-color: #3628282d;
  margin-top: 1rem;
  border-radius: .5rem;
}
.login__icon{
  font-size: 1.5rem;
  
}
.login__registre, .login__create {
  
  text-align: center;
}
.hu{
  color: #333392;
}